


@media (max-width: 786px) {

    .navbar {
        width: 95%;
        justify-content: space-between;
    }

    .nav-links ul {
        gap: 20px;
        margin-left: 30px;
        font-size: 14px;
    }

    .in-up-buttons {
        margin-left: 20px;
        width: 160px;
    }

    .sign-in,
    .sign-up {
        width: 70px;
        font-size: 13px;
    }

    .head {
        margin: 50px auto;
        width: 250px;
        height: auto;
        text-align: center;
    }

    .button-mac {
        width: 90px;
    }

    .head-three {
        width: 95%;
        text-align: center;
    }

    .head-icon {
        margin: 10px auto;
        width: 200px;
        display: block;
    }

    .button-third {
        display: block;
        margin: 15px auto;
    }
}



 











 