@import url(typography/typography.css);
@import url(media.css);


.navbar {
    height: 60px;
    width: 80%;
    /* border: 2px dotted black; */
    margin: 10px auto;
    display: flex;
    position: fixed;

}

.head {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    margin: 100px 20px 20px 200px;
    display: inline-block;
}

.blue {
    color: var(--primary-color--);
}


.button-mac {
    width: 100px;
    height: 30px;
    /* border: 2px solid black; */
}

.head-three {
    width: 90%;
    height: 50px;
    /* border: 2px solid black; */
    margin: 10px auto;
}

.head-icon {
    height: 50px;
    width: 320px;
    /* border: 2px solid black; */
    display: inline-block;
    text-transform: capitalize;
    margin: 0px 10px 10px 50px;
}

.button-third {
    width: 100px;
    height: 30px;
    /* border: 2px solid black; */
    display: inline-block;
    border-radius: 10px;
    margin: 10px 40px;
    background-color: var(--primary-color--);
    color: var(--white-color--);
}

.hero-image {
    width: 700px;

}

/* second contaner start */

.second-contaner {
    height: 500px;
    width: 100%;
    /* border: 2px solid black; */
    margin: 30px auto;
    position: relative;
    text-align: center;
    padding: 50px 20px;
    display: inline-block;
}

.tag {
    background: var(--white-color--);
    border: none;
    padding: 6px 18px;
    border-radius: 10px;
    color: var(--primary-color--);
    font-size: 12px;
    margin-bottom: 10px;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 20px 20px 20px;
    text-align: var(--align--);
}

.three-main {
    width: 1000px;
    height: 200px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}

.brands {
    width: 100px;
    height: 80px;
    /* border: 2px solid black; */
}



.icon {
    width: 70px;
    height: 70px;
    background: var(--white-color--);
    color: var(--primary-color--);
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 30px;
    margin: 0 auto 15px;
}

/* second contaner end */

/* third contaner start */

.third-contaner {
    width: 100%;
    height: 650px;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 100px;

}

.choose-car {
    width: 700px;
    height: 600px;
    /* border: 2ps solid black; */
    margin: 100px 10px 10px 10px;
    /* background-image: url(icons/second-background.png); */
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.choose-text {
    width: 450px;
    height: 600px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 20px 20px 20px 200px;
    position: relative;
}

.third-heading {
    width: 500px;
    height: 150px;
    /* border: 2px solid black; */
    text-align: start;
    margin: 0px 0px 0px 0px;
}

.small-text {
    width: 350px;
    height: 300px;
    /* border: 2px solid black; */
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

.four-box {
    width: 450px;
    height: 100px;
    /* border: 2px solid black; */
    display: inline-block;
    vertical-align: middle
}

.four-images {
    display: inline-block;
}

.small-image {
    vertical-align: middle;
    display: inline-block;

}

.box {
    position: relative;
    width: 400px;
}

.bg {
    width: 100%;
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color--);
    font-size: 24px;
    z-index: 10;
}

/* third contaner end */

/* forth contaner start */

.forth-contsner {
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 10px 10px 10px 10px;
}


.second-contaner {
    width: 1300px;
    height: 400px;
    /* border: 2px solid black; */
    margin: 10px 10px 10px 100px;
    display: inline-block;

}

.cards {
    width: 300px;
    height: 420px;
    /* border: 2px solid black; */
    display: inline-block;

}

.card-button {
    width: 200px;
    height: 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
    text-transform: capitalize;
    color: var(--white-color--);
    background-color: var(--primary-color--);
    text-decoration: none;
}

.last-button {
    width: 200px;
    height: 50px;
    /* border: 2px solid black; */
    text-align: center;
    margin: 70px 10px 10px 650px;
    border-radius: 10px;
    
}

/* forth contaner end */

/* fifth contaner start */

.fifth-contaner {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    margin-top: 40px;
    display: inline-block;
}

.last-card {
    width: 100%;
    height: 300px;
    /* border: 2px solid black; */
    display: flex;
    margin: 20px auto;
}

.two-card {
    width: 500px;
    height: 100px;
    /* border: 2px solid red; */
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* fifth contaner end */

/* six contaner start */

.six-contaner {
    width: 100%;
    height: 500px;
    border: 2px solid black;
    display: flex;
}

.head-download {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}

/* six contaner end */

/* footer */

footer {
    background-color: var(--footer-color--);
    color: var(--white-color--);
}