@import url(typography/typography.css);
@import url(media.css);


.navbar {
    height: 60px;
    width: 80%;
    /* border: 2px dotted black; */
    margin: 10px auto;
    display: flex;

}

.blue{
    color: var(--primary-color--);
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;

}

.blue {
    color: var(--primary-color--);
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    margin-left: 100px;
}

.in-up-buttons {
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 100px;
    display: flex;
    gap: 15px;
}

.sign-in {
    height: 100%;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.sign-up {
    height: 100%;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color--);
    color: var(--white-color--);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.head {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    margin: 100px 20px 20px 200px;
}

.button-mac {
    width: 100px;
    height: 30px;
    /* border: 2px solid black; */
}

.head-three {
    width: 80%;
    height: 50px;
    /* border: 2px solid black; */
    margin: 10px auto;
}

.head-icon {
    height: 30px;
    width: 300px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 0px 10px 10px 50px;
}

.button-third {
    width: 100px;
    height: 30px;
    /* border: 2px solid black; */
    display: inline-block;
    background-color: var(--primary-color--);
    color: var(--white-color--);
}


/* second contaner start */

.second-contaner {
    height: 500px;
    width: 100%;
    /* border: 2px solid black; */
    margin: 30px auto;
    position: relative;
    text-align: center;
    padding: 50px 20px;
    display: inline-block;
}

.tag {
    background: var(--white-color--);
    border: none;
    padding: 6px 18px;
    border-radius: 10px;
    color: var(--primary-color--);
    font-size: 12px;
    margin-bottom: 10px;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 20px 20px 20px;
    text-align: var(--align--);
}

.three-main {
    width: 1000px;
    height: 200px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}


.icon {
    width: 70px;
    height: 70px;
    background: var(--white-color--);
    color: var(--primary-color--);
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 30px;
    margin: 0 auto 15px;
}



.brands {
    width: 100%;
    height: 80px;
    /* border: 2px solid black; */
}

/* .brand-slider {
    width: 100%;
    overflow: hidden;
    padding: 30px 0px;
    background: var(--white-color--);

}

.slider-track {
    display: flex;
    gap: 80px;
    animation: scroll 20s linear infinite;
    margin-top: 80px;
}

.slider-track img {
    height: 45px;
    opacity: 0.7;
    transition: 0.3s;
} */


/* second contaner end */

/* third contaner start */

.third-contaner {
    width: 100%;
    height: 700px;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 100px ;

}

.choose-car {
    width: 700px;
    height: 600px;
    border: 2ps solid black;
    /* background-color: aqua; */
    margin: 100px 10px 10px 10px;
    background-image: url(icons/second-background.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.choose-text {
    width: 450px;
    height: 600px;
    /* border: 2px solid black;
    background-color: aqua; */
    display: inline-block;
    margin: 20px 20px 20px 200px;
    position: relative;


}

.small-text {
    width: 350px;
    height: 300px;
    /* border: 2px solid black; */
    display: inline-block;
    align-items: center;
    vertical-align: middle;


}

.four-box {
    width: 450px;
    height: 100px;
    /* border: 2px solid black; */
    display: inline-block;
    vertical-align: middle
}

.four-images {
    display: inline-block;
}

.small-image {
    vertical-align: middle;
    display: inline-block;
}

.box {
    position: relative;
    width: 400px;
}

.bg {
    width: 100%;
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color--);
    font-size: 24px;
    z-index: 10;
}

/* third contaner end */

/* forth contaner start */

.forth-contsner {
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 10px 10px 10px 10px;
}


.second-contaner {
    width: 1300px;
    height: 400px;
    /* border: 2px solid black; */
    margin: 10px 10px 10px 100px;
    display: inline-block;

}

.cards {
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    display: inline-block;

}

.last-button {
    text-align: center;
    margin: 100px auto;
}

/* forth contaner end */

/* fifth contaner start */

.fifth-contaner {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    margin-top: 40px;
    display: inline-block;
}

.last-card{
    display: flex;
    margin: 20px 20px 20px 200px ;
}

/* fifth contaner end */

/* six contaner start */

.six-contaner{
    width: 100%;
    height: 500px;
    border: 2px solid black;
    display: flex;
}

/* .second-last{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 20px 20px 20px 100px;
    display: flex;
    
}

.last-image{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;

}
 */
 /* footer */

 footer{
    background-color: var(--footer-color--);
 }


 


@media (min-width: 481px) and (max-width: 768px) {

    .second-contaner {
        padding: 40px 15px;
        height: auto;
    }

    .three-main {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 35px;
        align-items: center;
    }

    .icon {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }

    .heading {
        font-size: 22px;
        margin-bottom: 30px;
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .second-contaner {
        padding: 40px 15px;
        height: auto;
    }

    .three-main {
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 35px;
        align-items: center;
    }

    .icon {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }

    .heading {
        font-size: 22px;
        margin-bottom: 30px;
    }
}




